# --------------------------------------------------------- Read more ----------------------------------------------------------------------
# https://git-scm.com/docs/gitattributes
# --------------------------------------------------------- End of line normalization ------------------------------------------------------
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
